version: '3.8'

services:
  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    environment:
      spring.datasource.url: jdbc:mysql://db:3306/plusfy
      spring.datasource.username: root
      spring.datasource.password: root
      spring.datasource.driver-class-name: com.mysql.cj.jdbc.Driver
      spring.jpa.properties.hibernate.dialect: org.hibernate.dialect.MySQLDialect
      spring.jpa.hibernate.ddl-auto: update
      spring.sql.init.platform: mysql
  db:
    image: mysql:8
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: plusfy
    healthcheck:
      test: ["CMD", "mysqladmin" , "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: